* text=auto
*.pdf binary -filter -diff -merge
*.png binary -filter -diff -merge
*.jpg binary -filter -diff -merge
*.jpeg binary -filter -diff -merge
*.ico binary -filter -diff -merge
*.mp4 binary -filter -diff -merge
*.webm binary -filter -diff -merge
*.woff binary -filter -diff -merge
*.woff2 binary -filter -diff -merge
*.ttf binary -filter -diff -merge
*.otf binary -filter -diff -merge
